.tasks-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  &__card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 300px;
    word-wrap: break-word;
    white-space: normal;
  }
}

.task-info a {
  margin-right: 1rem;
}

.task-button {
  &--view {
    background: #90caf9;
    margin-right: 0.5rem;
  }

  &--delete {
    background: #ef9a9a;
  }
}

