.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}
