/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/azure-blue.css';

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

dl {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

dt {
  font-weight: 600;
  margin-top: 12px;
}

dd {
  margin: 0 0 8px 0;
}

.mat-card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
